@media only screen and (max-width: 1199px) {
  body {
    font-size: calc(0.7em + 1.5vw);
  }

  .startPage {
    h1 {
      font-size: 44px;
    }
  }
  .nameInput {
    width: 80%;
  }

  .startMenu {
    a,
    form {
      width: 47%;
    }
  }

  .topic_name {
    font-size: 25px;
  }

  .topic-buttons,
  .topic-buttons.user-topic-buttons {
    flex-wrap: wrap;
    // margin-top: 20px;
    form {
      width: 45%;
      button {
        width: 100%;
      }
    }
  }

  .button,
  .topic,
  .score_topic {
    width: 34%;
  }

  .topic img,
  .score_topic img {
    height: calc(12em + 1.5vw);
  }

  .button:nth-child(-n + 2),
  .topic:nth-child(-n + 2),
  .score_topic:nth-child(-n + 2) {
    margin-bottom: 70px;
  }
}

@media only screen and (max-width: 767px) {
  a,
  .endButton {
    padding: 15px 10px;
  }
  .headerSite {
    height: 70px;
    font-size: 28px;
  }
  .startPage {
    padding-top: 0;
    h1 {
      font-size: 32px;
    }
    p {
      font-size: 20px;
      margin-bottom: 20px;
    }
    a,
    .endButton,
    .userQuizNextButton,
    .userQuizEndButton,
    .quizBuildButton {
      width: 120px;
      min-height: 60px;
      font-size: 24px;
    }
  }

  .choose_topic {
    margin: 0 auto 20px;
  }

  .button,
  .topic,
  .score_topic {
    width: 45%;
    // font-size: 3.5vw;
  }

  .button {
    font-size: 16px;
  }

  .button:nth-child(-n + 2),
  .topic:nth-child(-n + 2),
  .score_topic:nth-child(-n + 2) {
    margin-bottom: 50px;
  }

  .topic-buttons.user-topic-buttons {
    .button:nth-child(n),
    .topic:nth-child(n),
    .score_topic:nth-child(n) {
      margin-bottom: 50px;
    }
  }

  .nameInput {
    width: 85%;
  }

  .questionNumber {
    width: 35%;
  }

  .points {
    width: 35%;
  }

  .input-group {
    .playerName,
    .playerEmail,
    .playerAvatar,
    .playerPassword,
    .confirmPlayerPassword {
      input {
        font-size: 16px;
      }
      label {
        font-size: 20px;
        padding-top: 0;
      }
    }

    .flexPassword {
      display: block;
      .playerPassword,
      .confirmPlayerPassword {
        width: 100%;
      }
    }
  }
  .inputButton {
    padding: 15px;
    width: 50%;
    font-size: 14px;
    font-weight: 600;
    margin: 15px auto;
  }
  .startMenu {
    min-height: 170px;
    a,
    form {
      width: 50%;
    }
    form button {
      padding: 15px 10px;
    }
  }
  audio {
    width: 90%;
    margin-bottom: 10px;
  }

  caption {
    font-size: 30px;
  }

  label#playerAvatar {
    display: inline-block;
    cursor: pointer;
    padding: 10px;
    font-size: 16px;
    line-height: 20px;
    background-color: #0022bb;
    border-radius: 10px;
    pointer-events: auto;
  }

  #eyeIcon {
    width: 20px;
    height: 20px;
  }

  #preview {
    width: 125px;
  }

  .quizBuilder .quizNameForm .quizBuildFooter .quizBuildButton {
    width: 45%;
  }
}

@media only screen and (max-width: 576px) {
  h1 {
    line-height: 40px;
  }

  a,
  .endButton,
  .userQuizNextButton,
  .userQuizEndButton,
  .quizBuildButton {
    padding: 10px;
  }

  .topic-buttons {
    form {
      width: 60%;
      button {
        width: 100%;
      }
    }
  }

  .button,
  .topic,
  .score_topic {
    width: 60%;
    margin-bottom: 30px;
  }

  .button img {
    height: 230px;
  }

  .startPage {
    h1 {
      font-size: 26px;
    }
    p {
      font-size: 18px;
    }
    a,
    .endButton,
    .userQuizNextButton,
    .userQuizEndButton,
    .quizBuildButton {
      font-size: 20px;
    }
  }

  .startMenu {
    min-height: 150px;
    a,
    form {
      width: 66%;
    }
    form button {
      font-size: 20px;
      padding: 10px;
    }
  }

  .inputStylized {
    font-size: 20px;
    padding: 5px 10px;
  }

  .search {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 20px;
    input {
      width: 80%;
      margin-left: 0;
      margin-top: 20px;
      padding: 5px 10px;
    }
  }

  .topic-buttons {
    flex-direction: column;
    align-items: center;
  }

  .topic_name {
    font-size: 20px;
    // padding: 5px 0;
  }

  .button:nth-child(-n + 2),
  .topic:nth-child(-n + 2),
  .score_topic:nth-child(-n + 2) {
    margin-bottom: 30px;
  }

  .topic-buttons.user-topic-buttons {
    .button:nth-child(n),
    .topic:nth-child(n),
    .score_topic:nth-child(n) {
      margin-bottom: 30px;
    }
  }

  // .button:nth-child(4),
  // .score_topic:nth-child(4),
  // .topic:nth-child(4) {
  //   margin-bottom: 0;
  // }

  .backButton,
  .backButtonArt,
  .backButtonHistory,
  .backButtonMusic,
  .backButtonSport {
    margin-top: 20px;
  }

  .input-group {
    .playerName,
    .playerEmail,
    .playerAvatar,
    .playerPassword,
    .confirmPlayerPassword {
      input {
        font-size: 14px;
      }
      label {
        font-size: 18px;
        padding-bottom: 0;
      }
    }
  }
  .inputStylized {
    width: 100%;
    padding: 10px 15px;
  }
  .quizBuilder {
    font-size: calc(0.9em + 1.9vw);
    .quizQuestion {
      flex-direction: column;
      margin-bottom: 20px;
      label {
        margin-bottom: 20px;
      }
      input {
        margin-left: 0;
      }
    }
    .inputStylized {
      width: 90%;
      padding: 5px 10px;
    }
    select {
      width: 80px;
      height: 30px;
      font-size: 18px;
      padding: 0;
      margin-top: 10px;
    }
  }

  .quizBuilder .questionBlockForm .questionBlock {
    .firstAnswer,
    .secondAnswer,
    .thirdAnswer,
    .fourthAnswer {
      width: 90%;
      margin: 25px auto;
      // align-items: baseline;
      // justify-content: space-between;
    }
    .radioLabel {
      .radioSpan {
        margin-left: -35px;
      }
    }
    textarea {
      width: 90%;
      font-size: 20px;
      border-radius: 10px;
      resize: none;
      padding: 5px;
      background-color: #d7dee6;
    }
  }

  .inputButton {
    width: 75%;
    padding: 10px;
    transform-origin: center bottom;
  }

  .exitNext a,
  .endButtonForm,
  .userQuizNextButtonForm,
  .userQuizEndButtonForm {
    width: 44%;
  }

  // .card {
  //   min-height: auto;
  // }

  .card .answer-buttons,
  .card .input-answer {
    margin: 10px auto;
  }

  input.firstWriteAnswer,
  input.secondWriteAnswer,
  input.thirdWriteAnswer,
  audio {
    font-size: 16px;
    padding: 10px;
  }

  audio {
    width: 90%;
    margin-bottom: 20px;
  }

  .playerResult {
    font-size: 30px;
    line-height: 30px;
  }

  caption {
    font-size: 24px;
    line-height: 28px;
  }

  td,
  th {
    padding: 20px 20px;
  }

  td {
    line-height: 28px;
    font-size: 24px;
  }

  tbody tr {
    &:nth-child(1) td:nth-child(1)::before,
    &:nth-child(2) td:nth-child(1)::before,
    &:nth-child(3) td:nth-child(1)::before {
      width: 30px;
      height: 30px;
    }
    &:nth-child(even),
    &:nth-child(odd) {
      td:first-child {
        width: 50%;
        padding-left: 30px;
      }
    }
  }

  th:nth-child(1) {
    padding-left: 30px;
  }
}

@media only screen and (max-width: 376px) {
  .button img {
    height: 175px;
  }
}
