@media only screen and (min-width: 1200px) and (orientation: landscape) {
    .startQuiz {
        padding-top: 0;
    }

}

@media only screen and (max-width: 1199px) and (orientation: landscape) {
    .startQuiz {
        padding-top: 0;
    }

    .button,
    .topic,
    .score_topic {
        width: 20%;
    }
}

@media only screen and (max-width: 767px) and (orientation: landscape) {
    .startQuiz {
        padding-top: 0;
    }

    .button,
    .topic,
    .score_topic {
        width: 34%;
    }

    // .topic img,
    // .score_topic img {
    //     height: 55%;
    // }

    // .topic-buttons {
    //     margin-top: 0;
    // }

    // .choose_topic {
    //     min-height: 300px;
    // }
}

@media only screen and (max-width: 576px) and (orientation: landscape) {
    .startQuiz {
        padding-top: 0;
    }
}