.startMenu {
	// min-height: 210px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	margin-top: 40px;
	.avatar {
		width: 50px;
		height: 50px;
		border-radius: 50%;
		object-fit: cover;

	}
	a {
		width: 33%;
		margin-top: 20px;
	}
}