.score__sport,
.score__music,
.score__art,
.score__history {
	width: 100%;
	margin: 0 auto;
	padding-top: 30px;
	letter-spacing: 1px;
	line-height: 33px;
}

table {
	width: 100%;
	margin: 30px auto;
	border-collapse: collapse;
	// border: 2px solid #002eff;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 27px; /* Устанавливаем радиус скругления для всей таблицы */
    // overflow: hidden;
}

td,
th {
	padding: 10px 20px;
}

th {
	background-color: #0a133d;
}

td {
	text-align: center;
}

tr {

	&:nth-child(even) {
		td {
			background-color: #0e1b54;
			&:first-child {
				border-right: 2px solid #142368;
			}
		}
	}
	&:nth-child(odd) {
		td {
			background-color: #142368;
			&:first-child {
				border-right: 2px solid #0e1b54;
			}
		}
	}
	&:nth-last-child(1) td:nth-last-child(1){
		border-bottom-right-radius: 25px;
	}
	&:nth-last-child(1) td:nth-last-child(2){
		border-bottom-left-radius: 25px;
	}
}

tbody tr {
	&:nth-child(1) td:nth-child(1) {
		background-image: url(../../images/1st-place.png);
		background-position: 25% center;
		background-size: 32px 32px;
		background-repeat: no-repeat;
	} 
	&:nth-child(2) td:nth-child(1) {
		background-image: url(../../images/2nd-place.png);
		background-position: 25% center;
		background-size: 32px 32px;
		background-repeat: no-repeat;
	}
	&:nth-child(3) td:nth-child(1) {
		background-image: url(../../images/3rd-place.png);
		background-position: 25% center;
		background-size: 32px 32px;
		background-repeat: no-repeat;
	}
}
caption {
	font-size: 36px;
	margin-bottom: 30px;
}

th:nth-child(1) {
	border-top-left-radius: 25px;
	border-right: 2px solid #142368;
}

th:nth-child(2) {
	border-top-right-radius: 25px;
}
