.startQuiz {
	margin: 0 auto;
	padding-top: 100px;
}

.nameInput {
	width: 50%;
	text-align: center;
	margin: 0 auto 20px auto;
	line-height: 40px;
	label {
		font-size: 20px;
	}
}

input {
	&.submit {
		min-width: 40%;
		margin-top: 20px;
		padding: 5px 25px;
		cursor: pointer;
		border: 2px solid #000000;
		border-radius: 5px;
		word-wrap: break-word;
		font-size: 0.9em;
		background-color: white;
	}
}

form {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
}

.modalWindowBack {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}
.modalWindowFront {
	color: #000000;
	background-color: #ffd2d2;
	margin: 15vh auto 0;
	padding: 20px;
	border: 3px outset #ff0000;
	border-radius: 15px;
	width: 50%;
	line-height: 28px;
	text-align: center;
}

.close {
	color: #999999;
	float: right;
	font-size: 30px;
	font-weight: bold;
}
.close:hover,
.close:focus {
	color: #000000;
	cursor: pointer;
}

.startMenu {
	min-height: 160px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	a {
		width: 33%;
	}
}