.startPage {
	margin: 0 auto;
	padding-top: 100px;
	text-align: center;
	line-height: normal;
	a {
		width: 150px;
		min-height: 75px;
		font-size: 24px;
		border-radius: 15px;
		line-height: 35px;
	}

}

.nameInput {
	width: 50%;
	text-align: center;
	margin: 0 auto 20px auto;
	line-height: 40px;
	background-color: rgba(5, 7, 13, 0.9);
	border-radius: 50px;
	padding: 20px;
}

.input-group {
	position: relative;
	max-width: 300px;
	.playerName, .playerEmail, .playerPassword, .confirmPlayerPassword {
		margin-bottom: 50px;
		position: relative;
		input {
			width: 100%;
			color: #cacaca;
			// margin-top: 30px;
			// max-width: 350px;
			font-size: 20px;
			padding: 5px;
			border: none;
			outline: none;
			border-bottom: 2px #cacaca solid;
			background: transparent;
			+ label {
				transition: all 0.2s ease-in;
			}
			&:focus,
			&.active {
				+ label {
					font-size: 20px;
					transform: translateY(-30px);
				}
			}
		}
		label {
			position: absolute;
			left: 0;
			top: 0;
			pointer-events: none;
		}
	}


}

.inputButton {
	display: block;
    width: 40%;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 0 auto 20px;
	padding: 20px;
    // height: 55px;
    text-align:center;
	word-wrap: break-word;
    border: none;
    background-size: 300% 100%;
	background-image: linear-gradient(to right, #0022bb, #184696, #0022bb,#001055, #183a74, #001055);
    // box-shadow: 0 4px 15px 0 rgba(0, 45, 112, 0.75);
    border-radius: 50px;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.inputButton:hover {
    background-position: 100% 0;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.inputButton:focus {
    outline: none;
}


form {
	display: flex;
	flex-direction: column;
	// flex-wrap: wrap;
	align-items: center;
	h2 {
		margin-bottom: 50px;
	}
}

p {
	font-size: 24px;
	a.registerLink, a.inputLink {
		display: inline;
		color: rgb(0, 89, 255);
		border: none;
		background: none;
		box-shadow: none;
		text-transform: none;
		&:hover {
			color: rgb(56, 139, 255);
			text-decoration-line: underline;
		}
	}
}



