.startPage {
	text-align: center;
	line-height: normal;
	p {
		font-size: 32px;
	}
	a {
		margin-top: 40px;
		width: 150px;
		min-height: 75px;
		font-size: 24px;
		border-radius: 15px;
		line-height: 35px;
	}
}