.startPage {
	margin: 0 auto;
	padding-top: 100px;
	text-align: center;
	line-height: normal;
	p {
		font-size: 32px;
	}
	a {
		width: 150px;
		min-height: 75px;
		font-size: 24px;
		border-radius: 15px;
		line-height: 35px;
		&.startButton {
			margin-top: 40px;
		}	
	}

}

.nameInput {
	width: 50%;
	text-align: center;
	margin: 0 auto 20px auto;
	line-height: 40px;
	
input#name {
		width: 100%;
		color: #cacaca;
		max-width: 350px;
		font-size: 20px;
		padding: 5px;
		border: none;
		outline: none;
		border-bottom: 2px #cacaca solid;
		background: transparent;
		+ label {
			transition: all 0.2s ease-in;
		}
		&:focus,
		&.active {
			+ label {
				font-size: 20px;
				transform: translateY(-30px);
			}
		}
	}
}

.input-group {
	position: relative;
	label {
		left: 0;
		top: 0;
		position: absolute;
		pointer-events: none;
	}
}

.inputButton {
	display: block;
    width: 50%;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px auto;
	padding: 20px;
    // height: 55px;
    text-align:center;
	word-wrap: break-word;
    border: none;
    background-size: 300% 100%;
	background-image: linear-gradient(to right, #0022bb, #184696, #0022bb,#0022bb, #184696, #0022bb);
    box-shadow: 0 4px 15px 0 rgba(0, 45, 112, 0.75);
    border-radius: 50px;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.inputButton:hover {
    background-position: 100% 0;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.inputButton:focus {
    outline: none;
}


form {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
}

.modalWindowBack {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}
.modalWindowFront {
	color: #000000;
	background-color: #ffd2d2;
	margin: 15vh auto 0;
	padding: 20px;
	border: 3px outset #ff0000;
	border-radius: 15px;
	width: 50%;
	line-height: 28px;
	text-align: center;
}

.close {
	color: #888888;
	float: right;
	font-size: 30px;
	font-weight: bold;
}
.close:hover,
.close:focus {
	color: #000000;
	cursor: pointer;
}

.startMenu {
	min-height: 180px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	a {
		width: 33%;
	}
}